.call-to-action {
  padding: 7rem 14rem 9.6rem 14rem;
}

.cta {
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  border-radius: 1.2rem;
  background: -webkit-linear-gradient(45deg, hsla(75, 6%, 87%, 1) 0%, hsla(214, 23%, 56%, 1) 100%);
  box-shadow: 0 0 1rem 0.4rem rgba(255, 255, 255, 0.03);
}

.cta-box {
  padding: 6.4rem 6.4rem 2.8rem 6.4rem;
  padding-top: 4.8rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: -6.4rem;
  margin-bottom: 3.2rem;
  opacity: 95%;
}

.cta-img {
  background-image: linear-gradient(135deg, rgba(33, 37, 41, 0.3), rgba(73, 80, 87, 0.3)),
    url("../content/img/cta.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form label {
  display: block;
  color: #0d1b2a;
  font-size: 1.6rem;
  margin-left: 0.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.search-bar,
.login input[type="text"],
.login input[type="password"],
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  box-shadow: inset 0 0 0 0.15rem #0d1b2a;
  border: none;
  background-color: transparent;
  border-radius: 1rem;
  color: #0d1b2a;
}
.cta-form select {
  color: #0d1b2a;
}
.cta-form input::placeholder {
  font-family: inherit;
  color: #868e96;
}
.cta-form .buttons {
  align-self: end;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.cta-form button,
.login button {
  align-self: end;
  justify-self: center;
  grid-column: 1/-1;
  padding: 1.2rem;
  margin-top: 2rem;
  width: 30%;
  border-radius: 1rem;
}

.register-error {
  grid-column: 1/-1;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff2226;
}
